
table{
	width:600px;
	border-collapse:collapse;
	border:2px solid #CCCCCC;
	margin:20px 0 0 140px;
	}
	
table, th, td {
   border: 1px solid black;
   text-align:center;
   font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
   color:#007fad;
   font-size:15px;
   line-height:30px;
}

	


